body {
  background-color: antiquewhite;
  margin: 0;
}

nav {
  height: 70px;
  display: flex;
  padding: 10px;
  box-shadow: 0px 2.98256px 7.4564px rgba(7, 7, 7, 0.1);
  background-color: rgb(61, 150, 223);
  text-transform: uppercase;
}
.nav-link {
  text-decoration: none;
  color: #fc0000;
  margin-right: 20px; 
  transition: color 0.3s ease; 
}

.nav-link:hover {
  color: #000000; 
}


.flex-container{
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  display: flex;
  margin-left: 250px;
  text-transform: uppercase;
  
}
a {
  padding: 40px;
  font-size: 20px;
  text-align: center;
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
}

.button-container {
  align-self: center;
  display: flex;
  width: 25%;
  margin-left: auto;
  margin-right: 20px; 
}




.body_container {
  display: flex;
}


@media only screen and (max-width: 768px) {
  .flex-container {
    margin-left: 0;
    justify-content: center;
  }

  .button-container {
    width: auto;
  }

}

  
